* {
  box-sizing: content-box;
}
body {
  overflow: hidden;
}
.nav-item {
  color: white;
}
/* style.css */
.red-box {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;

  border: 2px solid red;
  border-radius: 1px;
}
.white-box-container {
  width: 160px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.white-box {
  padding: 5px;
  border: 2px solid white;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center; /* Center the text horizontally */
}

.image-container {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  padding-top: 700px;
  text-align: center;
  color: white;
  background: url("ramen.png");
  background-position: center;
  background-color: transparent;
  background-size: cover;
  height: 860px;

}

.text-overlay {
  padding-bottom: 250px;
}

.btn-custom {
  background-color: black;
    color: white;
    border: 2px solid white;
}


.btn-custom:hover {
    border-color: grey;
}